.footer {
  background-color: rgba(241, 240, 240, 0.95);
  background-image: url(../../../assets/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40% auto;
  background-blend-mode: lighten;
  color: #212529;
  
}
.footer-icon {
  margin-inline-end: 8px;
  color: #333;
}

.footer h5 {
  color: #212529;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.footer a {
  color: #212529;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #484849;
}

.footer-shroot {
  color: #212529;
  font-family: Almarai;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.footer-icon {
  color: #212529;
  margin-inline-end: 8px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
}


/* ===== للهواتف ===== */
@media (max-width: 768px) {
  .accordion-button {
    background-color:  rgb(241, 240, 240) ;
    /* display: none; نخفي الزر الافتراضي بالكامل */
  }
 
  .custom-toggle {
    background-color:  rgb(241, 240, 240);
    color: #212529;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-weight: bold;
  }

  .custom-toggle:hover {
    background-color: rgb(226 224 224);
  }

  .accordion-body {
    background-color:  rgb(241, 240, 240);
    color: #212529;
    padding: 1rem;
  }
  .plus-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease; /* إضافة الانتقال */
  }
  
  .accordion-button:not(.collapsed) .plus-icon {
    transform: rotate(45deg); /* تدوير علامة + لتصبح × */
  }
}
/* Footer.css */

/* .footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
} */



.footer-shroot a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-shroot a:hover {
  color: #007bff;
}

.custom-toggle {
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
}

