.nav-bar{
    background-color: rgb(241, 240, 240);
    /* position: fixed; */
   width: 100%;
    z-index: 2;
}
.logo{
    width: 190px;
    height: 60px;
    margin: auto;
    /* background-color: inherit; */

}
.search-bg{
    background-color: var(--main--color);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.kafo {
    font-weight: 600;
    border: none;
    background-color: inherit;
    font-family: cursive;
    font-size: larger;
    transition: transform 0.3s ease; 
    cursor: pointer;
    color: #fffeff;
}

.kafo:hover {
    transform: scale(0.9);
}


.search{
    border:1px solid white;
    background-color:inherit;
    color: white;
    font-weight: bold;
  
}
.search:hover{
    background-color:var(--second--color);
    transition: 0.3s;

    color: white;
    border:1px solid white;

}
.icons{
    cursor: pointer;
    font-size: larger;
    

}
.icons a:hover{
    cursor: pointer;
    transform: scale(1.1);
        transform: 0.3s;
    

}
.login{
    background-color: inherit;
    color: white;
    border: none;
}
.drop-border{
    border: revert-layer;
    background-color: inherit;
}
.drop-item:focus{
    background-color: inherit;
    color: inherit;
}
.welcome{
    color: white;
    font-family: Almarai;
    font-size: 16px;
    font-weight: 1000;
    margin: auto;
}

.sidebar.active {
    transform: translateX(-100%);
}
.no-caret .dropdown-toggle::after {
    display: none !important;
  }
  @media (max-width: 768px) {
    .dropdown-menu {
      position: absolute !important;
      right: -100px;
      left: auto;
      z-index: 1050;
      min-width: 120px;
    }
  }
  