


.catText{
    margin: 2px;
    color: var(--color-primary) !important;
   
    
  }


  
  .Filde{
    margin: 5px !important;
    border-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
  }
  
  
  .catBut{
   margin: 5px;
    color: var(--color-white) !important;
    border-color: var(--color-primary) !important;
    background-color:var(--color-primary) !important;

}
