
.sidebar{
background-color: var(--color-sec) !important;
width:250px;
border-radius: 0px  10px 10px 0px;


}
.linkHover{
    
    padding: 5px 10px 5px 10px;
}
.linkHover:hover{
    color: var(--color-lightersec) !important;
    background-color: var(--color-lighterprimary) !important;
    border-radius: 8px;
    

}


.sidebarText{
  margin: 2px;
    color: var(--color-primary) !important;
    
}

.linkTextHover:hover{
    color: var(--color-sec) !important;
    background-color: var(--color-primary) !important;
    border-radius: 8px;
}
.linkTextHover{
    margin: 2px;
    color: var(--color-primary) !important;
}

.adminHover:hover{
    color: var(--color-sec) !important;
    background-color: var(--color-primary) !important;
    border-radius: 8px;
}
.adminHover{
   
    color: var(--color-primary) !important;
}
.admin{
    margin: 4px;
}
.underlineOff {
    text-decoration: none;

  
}