.logn {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  height: auto;
  /* margin-left: 20px;
  margin-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0 0 12px var(--second--color);
  border-radius: 12px;

}

.user-input {
  height: 40px;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 100%;
}

.title-login {
  color: #555550;
  font-family: Almarai, sans-serif;
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}

.custom-file-upload {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
}

@media (max-width: 576px) {
  .logn {
    padding: 1rem;
    /* box-shadow: none;
    border: 1px solid black; */
  }

  .title-login {
    font-size: 18px;
  }
}
