.cat{
   
    width: 110px;
    height: 110px;

    
}
.cat:hover{
    /* background-color:  var(--main--color); */
    
    transition: 0.3s;
    cursor: pointer;
    
    
}
.login{
    cursor: pointer;
}
.cat-img{
    width: 100%;
    height: 79%;
    border-radius: 21%;
    box-shadow: 0 0 9px var(--second--color);
}
.text-cat{
    text-align: center;
    font-size: medium;
    font-weight: 600;
    padding-top: 5px;
}